
<div id="projects" class="center">
    <div>
    <!-- <h2>Enter the url of a Buzzfeed Quiz here:</h2> -->
    <form name="quizUrl">
      
      <div class="input-group">
        <input = ng-model="quizUrl.url" class="form-control" id="bfurl" type="text" placeholder="Type in the url of a Buzzfeed quiz"/>
        <span class="input-group-btn">
          <button class="btn btn-primary bfinput" type="button">Submit</button>
        </span>
      
      </div>
      
    </form>

    <br>



        <div class="buzzfeedResults">
          <div class="inner">
            <ul class="list">
              <li class="list-item" ng-repeat="answer in answers">
                <div class="list-content">
                <img id="projectImage" ng-src="{{answer.image}}"/>
                 <div ng-bind-html="answer.html.attributes['0'].ownerElement.outerHTML"></div>
               </div>
                </li>
              </ul>
              </div>
            </div>


    </div>
</div>


